.show-players-container{
    
    width: 100%;
    /* overflow-x: auto; */
    display: flex;
    flex-direction: column;
}

.players-table{
margin: 0 auto;
max-width: 700px;

}

@media (max-width: 800px){
    .players-table{
        max-width: 700px;
    }
}

@media (max-width: 600px) {

    .players-table{
        max-width: 500px;
    }
    .player-photo {
    max-width: 100px; 
    }
   }