.seasons-container{
 max-width: 750px;   
 margin: 0 auto;
 position: relative;
 top: 10rem;
 padding: 0 3rem;
}

.seasons-list {
    list-style: none;
    padding: 0;
  }
  
  .seasons-list li {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
  }

  .seasons-list li:hover{
    box-shadow: 0px 4px 14px rgba(247, 247, 247, 0.25);
    
  }
  
  