.league-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .league-item {
    width: 200px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #434343;
    border-radius: 10px;
  }

  .league-item:hover{
    box-shadow: 0px 4px 14px rgba(156, 156, 156, 0.499);
  }

  .country-flag-in-league-list {
    max-width: 150px;
  }

  li img {
    width: 80%;
  }

  @media (max-width: 600px) {
    .league-item {
      width: 80%;
    }
  }