.league-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .league-item {
    width: 200px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 10px;
    cursor: pointer;
  }
  .country-flag-in-league-list {
    width: 30%;
  }

  li img {
    width: 80%;
  }

  @media (max-width: 600px) {
    .league-item {
      width: 80%;
    }
  }